@model IEnumerable<DomainModels.Models.ExamModel.Exam>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExamDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExamDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectCode)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit",  new { studentNumber = item.StudentNumber, subjectCode = item.SubjectCode }) |
                    @Html.ActionLink("Delete", "Delete", new { studentNumber = item.StudentNumber, subjectCode = item.SubjectCode })
            </td>
        </tr>
}
    </tbody>
</table>
